dn: olcOverlay={1}syncprov,olcDatabase={1}mdb,cn=config
objectClass: olcConfig
objectClass: olcOverlayConfig
objectClass: olcSyncProvConfig
objectClass: top
olcOverlay: {1}syncprov
olcSpCheckpoint: 20 5