dn: olcDatabase={1}mdb,cn=config
changetype: modify
add: olcSyncRepl
olcSyncRepl: rid=1
  provider=ldap://{{ provider }}
  type=RefreshAndPersist
  bindmethod=simple
  binddn="cn=replicator,{{ suffix }}"
  credentials="123"
  searchbase="{{ suffix }}"
  logbase="cn=accesslog"
  logfilter="(&(objectClass=auditWriteObject)(reqResult=0))"
  retry="60 20 300 10"
  syncdata=accesslog
